/* All Credit for Fonts to Formula 1
    Downloaded from https://imjustcreative.com/download-f1-fonts-formula-1-fonts/2021/09/16 */

@font-face {
    font-family: "F1-Bold";
    src: url(Formula1-Bold.otf);
}
@font-face {
    font-family: "F1-Regular";
    src: url(Formula1-Regular.otf);
}
@font-face {
    font-family: "F1-Wide";
    src: url(Formula1-Wide.otf);
}

.body{
    height: 1vh;
    font-family: 'F1-Bold';
    font-size: 25px;
}
.bodyMapNotShowing{
    height: 1600vh;
    font-family: 'F1-Bold';
    font-size: 25px;
}

.fadeIn{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}
.visible{
    opacity: 0.5;
    transform: translateY(0);
}

#myMap{
    width: 1080px;
    height: 720px;
    border: 3px solid black;
    margin: auto;
    margin-top: 110px;
}

.banner{
    width: 100%;
    background-color: red;
    color: white;
    text-align: left;
    position: absolute;
    left: 0;
    padding: 10px 0;
    top: 0;
    z-index: 99;
}
.banner h1{
    padding-left: 15px;
    margin: 10px;
}

#tutorial{
    margin-top: 110px;
    padding-bottom: 25px;
    padding-top: 25px;
    border: 2px solid black;
    text-align: center;
}

#tutorialButton{
    font-family: 'F1-Bold';
    background-color: transparent;
    border: 2px solid red;
    border-radius: 25px;
    color: red;
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
}

#reopenMap{
    font-family: 'F1-Bold';
    background-color: transparent;
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    top: 10%;
    right: 20px;
}

/* Post Track Chosen */

h2{
    padding-top: 100px;
    
}
h3{
    padding-top: 50px;
    font-size: 50px;
    margin: 0;
    border-bottom: 10px solid red;
}
.circuitInfo{
    margin: auto;
    width: 80%;
    text-align: center;
    position: relative;
}

.circuit{
    width: 75%;
    height: auto;
}

.Arrow{
    height: 350px;
    width: 400px;
    position: absolute;
    top: 125%;
    left: 5%;
    border: 10px solid red;
    border-style: solid solid none none;
    padding-top: 50px;
    border-bottom: 150px;
    border-left: 250px;
    border-top-right-radius: 20px;
    padding-bottom: 50px;
}

.fixed{
    position: fixed;
    top: 30%;
    left: 14.3%;
}
.Charles{
    position: absolute;
    right: 5%;
    width: 375px;
    height: 525px;
    top: 500%;
    cursor: pointer;
}
.CharlesFixed{
    position: fixed;
    top: 20%;
    width: 25%;
    right: 15%;
    cursor: pointer;
}

#fastestLap{
    border: 10px solid red;
    border-radius: 10px;
    position: fixed;
    width: 50%;
    left: 100px;
    top: 30%;
    z-index: 2;
}

.videoRow{
    display: flex;
}
#p1{
    left: 50%;
    position: absolute;
    top: 210%;
    align-items: center;
    padding-left: auto;
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}
#p2{
    position: absolute;
    top: 320%;
    left: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}
#p3{
    position: absolute;
    top: 430%;
    left: 50%;
    text-align: center;
    margin-right: auto;
}

#p4{
    position: absolute;
    top: 600%;
    right: 65%;
    text-align: center;
    margin-right: auto;
}
#p5{
    position: absolute;
    top: 710%;
    right: 65%;
    text-align: center;
    margin-left: auto;
}
#p6{
    position: absolute;
    top: 820%;
    right: 65%;
    text-align: center;
    margin-left: auto;
}
#p7{
    position: absolute;
    top: 930%;
    left: 10%;
    text-align: center;
    margin-left: auto;
}
#p8{
    position: absolute;
    top: 1000%;
    font-size: 50px;
}
#p9{
    position: absolute;
    top: 1110%;
    font-size: 50px;
}
#p10{
    position: absolute;
    top: 1220%;
    font-size: 50px;
}
#p11{
    position: absolute;
    top: 1330%;
    font-size: 50px;
}
#findOut{
    font-family: 'F1-Bold';
    position: absolute;
    top: 1440%;
    left: 50%;
    font-size: 50px;
    transform: translateX(-50%);
    text-align: center;
    
    background-color: transparent;
    border: 10px solid red;
    border-radius: 25px;
    color: black;
    padding: 20px;
    cursor: pointer;
}
#mostWins p {
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    width: 75%;
    
}
#Wins {
    position: absolute;
    left: 50%;
    top: 1410%;
    width: 50%;
}
#p12{
    position: absolute;
    top: 1420%;
    left: 5%;
}
#p13{
    position: absolute;
    top: 1460%;
    left: 0%;
}
footer{
    position: absolute;
    top: 1525%;
}