/* All Credit for Fonts to Formula 1
    Downloaded from https://imjustcreative.com/download-f1-fonts-formula-1-fonts/2021/09/16 */

@font-face {
    font-family: "F1-Bold";
    src: url(Formula1-Bold.otf);
}
@font-face {
    font-family: "F1-Regular";
    src: url(Formula1-Regular.otf);
}
@font-face {
    font-family: "F1-Wide";
    src: url(Formula1-Wide.otf);
}

/* 
    body and bodyMapNotShowing 
    used to dynamically change height of screen.
*/
.body{
    height: 1vh;
    font-family: 'F1-Bold';
    font-size: 25px;
}
.bodyMapNotShowing{
    height: 1450vh;
    font-family: 'F1-Bold';
    font-size: 25px;
}
/* Main Page: */
#myMap{
    width: 1080px;
    height: 720px;
    border: 3px solid black;
    margin: auto;
    margin-top: 110px;
}
#tutorial{
    margin-top: 110px;
    padding-bottom: 25px;
    padding-top: 25px;
    border: 2px solid black;
    text-align: center;
}
#tutorialButton{
    font-family: 'F1-Bold';
    background-color: transparent;
    border: 2px solid red;
    border-radius: 25px;
    color: red;
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Top of Page: */
.banner{
    width: 100%;
    background-color: red;
    color: white;
    text-align: left;
    position: absolute;
    left: 0;
    padding: 10px 0;
    top: 0;
    z-index: 99;
}
.banner h1{
    padding-left: 15px;
    margin: 10px;
}
#reopenMap{
    font-family: 'F1-Bold';
    background-color: transparent;
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    top: 10%;
    right: 20px;
}

/* Post Track Being Clikced Chosen */

h2{
    padding-top: 100px;
}
h3{
    padding-top: 50px;
    font-size: 50px;
    margin: 0;
    border-bottom: 10px solid red;
}
.circuitInfo{
    margin: auto;
    width: 80%;
    text-align: center;
    position: relative;
}

.circuit{
    width: 75%;
    height: auto;
}

/* Arrow functionality w/ changing classes */
.Arrow{
    height: 350px;
    width: 400px;
    position: absolute;
    top: 125%;
    left: 5%;
    border: 10px solid red;
    border-style: solid solid none none;
    padding-top: 50px;
    border-bottom: 150px;
    border-left: 250px;
    border-top-right-radius: 20px;
    padding-bottom: 50px;
}
.fixed{
    position: fixed;
    top: 30%;
    left: 14.3%;
}
.overFixed{
    position: absolute;
    top: 420%;
}

/* Fastest Lap functoanlity w/ changing classes */
.Charles{
    position: absolute;
    left: 75%;
    top: 500%;
    width: 375px;
    height: 525px;
    cursor: pointer;
    transform: translate(-50%, 0);
}
.CharlesFixed{
    position: fixed;
    top: 20%;
    cursor: pointer;
    transform: translate(-71%, 0);
}
.CharlesOverFixed{
    position: absolute;
    top: 915%;
}
#fastestLap{
    display: none;
    border: 10px solid red;
    border-radius: 10px;
    position: fixed;
    width: 50%;
    left: 75px;
    top: 30%;
    z-index: 2;
}

/* First absolute text block: */
.introText{
    position: absolute;
    left: 75%;
    align-items: center;
    transform: translateX(-50%);
    min-width: 30vw;
    font-size: 30px;
}
#p1{
    top: 210%;
}
#p2{
    top: 320%;
}
#p3{
    top: 430%;
}

/* Second absolute text block: */
.CharlesText{
    position: absolute;
    right: 75%;
    transform: translateX(50%);
    font-size: 30px;
    min-width: 50vw;
}
#p4{
    top: 600%;
}
#p5{
    top: 710%;
}
#p6{
    top: 820%;
}
#p7{
    top: 930%;
}

/* Third absolute text block: */
#mostWins p {
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    width: 75%;
    position: absolute;
    font-size: 50px;
}
#p8{
    top: 1000%;
}
#p9{
    top: 1110%;
}
#p10{
    top: 1220%;
}
#p11{
    top: 1330%;
}

/* Findout most wins Button: */
.findOut{
    font-family: 'F1-Bold';
    position: absolute;
    top: 1440%;
    left: 50%;
    font-size: 50px;
    transform: translateX(-50%);
    text-align: center;
    background-color: transparent;
    border: 10px solid red;
    border-radius: 25px;
    color: black;
    padding: 20px;
    cursor: pointer;
}


#Wins {
    position: absolute;
    left: 75%;
    top: 1410%;
    width: 500px;
    transform: translate(-50%, 0);
}
#p12{
    position: absolute;
    top: 1420%;
    right: 75%;
    min-width: 40vw;
    min-height: 15vw;
    transform: translateX(50%);
    border: 10px solid red;
    border-style: solid solid none none;
    padding-bottom: 50px;
    font-size: 40px;
    border-bottom: 150px;
    border-left: 250px;
    border-top-right-radius: 20px;
}
#p13{
    position: absolute;
    top: 1445%;
    right: 75%;
    min-width: 40vw;
    transform: translateX(50%);
    font-size: 30px;
}
footer{
    position: absolute;
    display: grid;
    grid-template-columns: auto auto;
    top: 1525%;
    gap: 10px;
    padding: 10px;
}
footer p{
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    margin: auto;
}
#fp2{
    margin-left: 30px;
    text-decoration: none;
}

/* Button below footer to reset page: */
.exitButton{
    position: absolute;
    top: 1550%;
    background-color: red;
    padding: 50px;
    margin-left: auto;
    transform: translateX(-50%);
    font-family: 'F1-Bold';
    background-color: transparent;
    border: 2px solid red;
    border-radius: 25px;
    color: red;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}