body{
    height: 600vh;
}

#myMap{
    width: 1080px;
    height: 720px;
    border: 3px solid black;
    margin: auto;
    margin-top: 100px;
}

.banner{
    width: 100%;
    background-color: #FF7F7F;
    color: black;
    text-align: center;
    position: absolute;
    left: 0;
    padding: 10px 0;
    top: 0;
    z-index: 99;
}

#reopenMap{
    background-color: transparent;
    border: 2px solid black;
    border-radius: 25px;
    color: black;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    top: 10%;
    right: 20px;
}
h2{
    padding-top: 100px;
}
.circuitInfo{
    margin: auto;
    width: 75%;
    text-align: center;
    position: relative;
}

.circuit{
    width: 75%;
    height: auto;
}

.Arrow{
    height: 350px;
    width: 400px;
    position: absolute;
    top: 115%;
    left: 10%;
}

.fixed{
    position: fixed;
    top: 35%;
    left: 20.3%;
}

#fastestLap{
    position: absolute;
    width: 66%;
    right: 200px;
}

#Charles{
    position: absolute;
    right: 15px;
    width: 25%;
}
.videoRow{
    display: flex;
}
#p1{
    position: absolute;
    top: 230%;
    right: 10%;
}
#p2{
    position: absolute;
    top: 375%;
    right: 5%;
}